:root {
  --primary-color: #00b7fd;
  --secondary-color: #ff7a22;
  --success-color: #198754;     
  --danger-color: #c90000;
  --secondary-danger-color: #a30000;       
  --warning-color: #ffc107;      
  --dark-bg: #1a1a1a;           
  --dark-bg-deep: #0f0f0f;      
  --text-primary: #212529;       
  --text-secondary: #6c757d;     
  --border-color: #333;         
  --border-light: #dee2e6;       

  --font-primary: 'Kulim Park', Arial, sans-serif;
  --font-secondary: 'Numans', Verdana, sans-serif;
  --font-size-base: 19px;
  
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4-h5-h6: 1.2rem;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}