:root {
  --primary-color: #00b7fd;
  --secondary-color: #ff7a22;
  --success-color: #198754;     
  --danger-color: #c90000;
  --secondary-danger-color: #a30000;       
  --warning-color: #ffc107;      
  --dark-bg: #1a1a1a;           
  --dark-bg-deep: #0f0f0f;      
  --text-primary: #212529;       
  --text-secondary: #6c757d;     
  --border-color: #333;         
  --border-light: #dee2e6;       

  --font-primary: 'Kulim Park', Arial, sans-serif;
  --font-secondary: 'Numans', Verdana, sans-serif;
  --font-size-base: 20px;
  
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4-h5-h6: 1.2rem;
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-base);
}

body {
  color: var(--text-primary);
  background-color: #f4f4f4;
  font-family: var(--font-primary);
}

h1 {font-size: var(--font-size-h1); font-family: var(--font-secondary);}
h2 {font-size: var(--font-size-h2); font-family: var(--font-secondary);}
h3 {font-size: var(--font-size-h3); font-family: var(--font-secondary);}
h4, h5, h6 {font-size: var(--font-size-h4-h5-h6); font-family: var(--font-secondary);}
h1, h2, h3, h4, h5, h6 {line-height: 1.5rem;}




.container {
    max-width: 1100px;      
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
}
